SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", ATTR{address}=="c4:85:08:2b:fa:f7", ATTR{dev_id}=="0x0", ATTR{type}=="1", KERNEL=="wlan*", NAME="wlan0"
